aiohttp>=3
aiohttp-jinja2
aiosocks @ https://github.com/nibrag/aiosocks/archive/refs/heads/master.zip
lxml
fake-useragent @ https://github.com/Jordan9675/fake-useragent/archive/refs/heads/master.zip
jinja2
peewee-async
aiopg
recommonmark
sphinx_rtd_theme
sphinx
pytest
pytest-asyncio
termcolor
uvloop
geoip2
bs4
